﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<ul>
    <li>
        The design approach of the app focused on using dynamic content driven
        completely by the CSV document.
    </li>
    <li>The advantage of this is that it would evolve along with the document structure.</li>
    <li>
        There are disadvantages; For instance, the direct display of the header columns, including
        any mistakes therein.
    </li>
    <li>Future iterations could include: additional data types and sorting.</li>
</ul>
<h3>About the Author</h3>
<p>
    Kyle Moore is a software developer from Bristol, TN.  He has spent the majority of his career
    working for <a href="https://www.cgi.com/en/us-federal/services-solutions" target="_blank">CGI Federal</a> developing for their Momentum Suite of products.
</p>
<p>
    Presently he is a member of the Solution Architecture Group and has been involved in a variety of projects
    that range from securing business tier services, redesigning database change management processes and tooling, to
    <a href="https://github.com/kyledmoore/bootstrap-session-timeout/commits/master">modifying jQuery UI plugins to meet S508 requirements</a>.
</p>
<p>
    While considered an architect in his present company, he prefers to omit that from his resume as one shop's idea of an
    architect differs from another.  Or maybe it's because, originally majoring in design graphics, he worked for a 
    <a href="http://www.thomasweemsarchitect.com/">proper architectural firm</a> as a CAD draftsman and the term seems to 
    infringe upon that of another domain's.  In any event, the prospect of developing for a marketing firm stands to fit
    his talents and interests more precisely.
<p>
    Preferring to spend his time writing code and collaborating with other developers and
    stakeholders directly at work, in his spare time he enjoys riding his Onewheel with his dog and listening to live music
    with his wife and friends.  A little ping pong couldn't hurt, either.
</p>

<p>
    It has been a pleasure working in ASP.NET Core to illustrate my abilities and I hope this
    provides enough evidence to convince you that I can successfully make the switch from
    Java while being a productive member of your team. Take care!
</p>