﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    309 Mia Drive<br />
    Bristol, TN 37620<br />
    <abbr title="Phone">P:</abbr>
    423.794.9937
</address>

<address>
    <strong>Email:</strong> <a href="mailto:kyledmoore@gmail.com">kyledmoore@gmail.com</a><br />
</address>
