﻿@{
    ViewData["Title"] = "Welcome to the Ntara College Football Database";
    ViewData["Message"] = "Hypothetically convincing you to hire Kyle Moore since 2018";
}
<h2>@ViewData["Title"]</h2>
<p>@ViewData["Message"]</p>

@model IEnumerable<CollegeFootballTeamModel>

<form asp-action="Search">
    <label for="search">Search</label>
    <input id="search" name="q" type="text" placeholder="Type here..." value="@ViewBag.q"/>
    <label for="columns">Columns to Search</label>
    <select asp-items="@(new SelectList(ViewBag.columns, ViewBag.col))" id="columns" name="col">
        <option>All</option>
    </select>
    <input type="submit" />
</form>
<table class="table table-striped">
    <thead>
        <tr>
            @foreach (string column in @ViewBag.columns)
            {
                <th>@column</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (CollegeFootballTeamModel team in Model)
        {
            <tr>
                @foreach (string key in team.Values.Keys)
                {
                    <td>@team[key]</td>
                }
            </tr>
        }
    </tbody>
</table>